
.references
{
display: inline-block;
/*	border: 1px solid black;*/
	    vertical-align: top;
		width:50%;
}
.panier
{
display: inline-block;
/*	border: 1px solid black;*/
	    vertical-align: top;
		width: 49%;
}		

#bouton
{
	margin-top: 10px;
	margin-bottom: 10px;
}

