table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td
{
    border: 1px solid black;
}
#formulaire input[type="submit"]:hover
{
	background-color: #66CC33;
	cursor: pointer;
}