
#table_reference_list table
{
     border: 3px solid black;
     width: 100%;
}

#table_achats_list table
{
    border: 3px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#formulaire input[type="submit"]:hover
{
	background-color: #93DB70;
	cursor: pointer;
	border-radius: 6px;
}

/* button "dans panier" */
#acheterRef
{
	float: right;
	position: relative;
	top: -10px;
	left: -25px;
	z-index: 0;
}
/* button "payer" */
#payer
{
	float: right;
	position: relative;
	top: -10px;
	left: -25px;
	z-index: 0;
}

/* list de references disponibles dans catalogue, moitiée gauche de l'écran */
.references
{
    display: inline-block;
    vertical-align: top;
    width:50%;
}
/* list de references dans panier, moitié droite de l'écran */
.panier
{
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.modifierReference{
    text-align: center;
}

